
body {
	background: #1690A7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}



*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 450px;
	border: 10px solid rgb(12, 11, 11);
	padding: 30px;
	background: rgb(255, 251, 251);
	border-radius: 35px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 3px solid rgb(75, 74, 58);
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: rgba(15, 15, 13, 0.781);
	font-size: 18px;
	padding: 10px;
}

button {
	float:center;
	background: rgb(10, 10, 10);
	padding: 10px 15px;
	color: rgb(235, 226, 226);
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #a53e3e;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}